* {
	box-sizing: border-box;
}

#app {
	font-family: 'Roboto', sans-serif;
}

.list-item-container {
	box-shadow: 2px 2px 5px -2px rgb(144, 144, 144);
	background-color: #3c4353;
	max-width: 580px;
	max-height: 120px;
	display: flex;
	justify-content: space-between;
	padding: 8px;
	overflow: hidden;
}

.list-item-container:hover {
	cursor: pointer;
}

.list-item-thumb {
	overflow: hidden;
	flex: 3;
	min-width: 100px;
}

.list-item-thumb > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#list-item-video {
	height: 100%;
	width: 100%;
}

#list-item-video > video {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.list-item-number {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	min-width: 32px;
	flex: 1;
	color: #f2f2f3;
	font-size: xx-large;
}

.list-item-text {
	align-self: center;
	flex: 8;
	border-left: 1px solid #596077;
	padding-left: 16px;
}

.list-item-header {
	font-size: 16px;
	font-weight: 500;
	color: #ef9d39;
}

.list-item-url {
	font-size: 16px;
	color: #7e828e;
}

@media (max-width: 650px) {
	.list-item-container {
		padding: 6px;
	}

	.list-item-text {
		padding-left: 8px;
	}

	.list-item-header {
		font-size: 13px;
	}

	.list-item-url {
		font-size: 12px;
	}

	.list-item-number {
		font-size: x-large;
	}
}
